@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<form method="post" asp-action="Login">
    <label asp-for="Email"></label>
    <input asp-for="Email" /><br />

    <label asp-for="Password"></label>
    <input asp-for="Password" /><br />

    <button type="reset">Reset</button>
    <button type="submit">Log In</button>
</form>
