@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-xl-4 mx-auto">
        <div class="card">
            <p class="card-header">Log In...</p>
            <div class="card-body">
                <form method="post" asp-action="Login">
                    <label asp-for="Email"></label>
                    <input class="form-control" asp-for="Email" /><br />

                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" /><br />

                    <div class="btn-group float-right">
                        <button class="btn btn-danger" type="reset">Reset</button>
                        <button class="btn btn-success" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>