@using System.Linq
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-xl-5 offset-xl-2">
        <div class="card">
            <p class="card-header">Log In...</p>
            <div class="card-body">
                <form method="post" asp-action="Login">
                    <label asp-for="Email"></label>
                    <input class="form-control" asp-for="Email" /><br />

                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" /><br />

                    <div class="btn-group float-right">
                        <button class="btn btn-danger" type="reset">Reset</button>
                        <button class="btn btn-success" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xl-3">
        <div class="card">
            <p class="card-header">External Login Providers</p>
            <div class="card-body text-center">
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

                    <form asp-action="ExternalLogin" method="post">
                        @foreach (var provider in loginProviders)
                        {
                            <button type="submit" name="provider" value="@provider.Name" class="btn btn-primary">@provider.Name</button>
                        }
                    </form>
                }
            </div>
        </div>
    </div>
</div>