@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<form method="post" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br />

    <label asp-for="HomeState"></label>
    <select asp-for="HomeState" asp-items="@Html.GetEnumSelectList(typeof(State))">
        <option value="">-- Select Home State --</option>
    </select>
    <span asp-validation-for="HomeState"></span>
    <br />

    <label asp-for="GrillingPreference"></label>
    <select asp-for="GrillingPreference" asp-items="@Html.GetEnumSelectList(typeof(GrillingPreference))">
        <option value="">-- Select Grilling Preference --</option>
    </select>
    <span asp-validation-for="GrillingPreference"></span>
    <br />

    <button type="reset">Reset</button>
    <button type="submit">Register</button>
</form>
