
@{
    ViewBag.Title = "Checkout";
}

<h2 class="text-center mb-3">Checkout</h2>

<div class="col-xl-8 offset-xl-2">
    @await Component.InvokeAsync("BasketDetails", new { quantityInputs = true, checkoutButton = false })
</div>
