@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome @User.Identity.Name!</h2>
<h3>Here are our exciting products:</h3>

@if (Model.Count() < 1)
{
    <p>Uh.....we actually don't have any products yet. Whoops!</p>
}
else
{
    <dl>
    @foreach (var product in Model)
    {
        <dt>Product Name</dt>
        <dd>@product.Name</dd>
        <dt>Price</dt>
        <dd>$@product.Price</dd>
    }
    </dl>
}
